<!-- Header with the back button that takes users to the home page -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Back</ion-title>
  </ion-toolbar>
</ion-header>

<!-- POPIA Modal -->
<div
  class="modal fade"
  id="popiaModal"
  tabindex="-1"
  aria-labelledby="popiaModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg scrollable-content">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="popiaModalLabel">
          <i class="fas fa-shield-alt" style="color: #609bd4"></i>
          POPIA Act Acceptance
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body scrollable-content">
        <p>Please review and accept the POPIA before proceeding:</p>
        <div *ngFor="let question of questions" class="question-container">
          <strong>{{ question.title }}</strong>
          <p [innerHTML]="question.question"></p>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="handleCancelOrClose()"
        >
          Cancel
        </button>
        <button type="button" class="btn btn-primary" id="acceptPOPIA">
          Accept
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Main Content -->
<div class="container-fluid p-1 scrollable-content">
  <h1 class="mb-3 text-center">Visitor Registration Form</h1>
  <p class="text-center">
    Please fill in the form below to register your details:
  </p>

  <div class="row">
    <!-- Left Card -->
    <div class="col-md-6">
      <div class="card p-3 mb-3 h-100">
        <div class="form-group mb-2">
          <label for="name">Name:</label>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
            <input
              type="text"
              id="name"
              required
              class="form-control custom-input"
              placeholder="Enter your name"
              [(ngModel)]="name"
              [disabled]="!accepted_popia"
            />
          </div>
        </div>

        <div class="form-group mb-2">
          <label for="surname">Surname:</label>
          <div class="input-group">
            <span class="input-group-text"
              ><i class="fas fa-user-tag"></i
            ></span>
            <input
              type="text"
              id="surname"
              required
              class="form-control custom-input"
              placeholder="Enter your surname"
              [(ngModel)]="surname"
              [disabled]="!accepted_popia"
            />
          </div>
        </div>

        <div class="form-group mb-2">
          <label for="contact">Contact:</label>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-phone"></i></span>
            <input
              type="tel"
              id="contact"
              min="10"
              max="10"
              required
              class="form-control custom-input"
              placeholder="Enter your contact"
              [(ngModel)]="contact"
              [disabled]="!accepted_popia"
            />
          </div>
        </div>

        <div class="form-group mb-2">
          <label for="email">Email Address:</label>
          <div class="input-group">
            <span class="input-group-text"
              ><i class="fas fa-envelope"></i
            ></span>
            <input
              type="email"
              id="email"
              required
              class="form-control custom-input"
              placeholder="Enter your email"
              [(ngModel)]="email"
              [disabled]="!accepted_popia"
            />
          </div>
        </div>

        <div class="form-group mb-2">
          <label for="idn">ID Number:</label>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-id-card"></i></span>
            <input
              type="text"
              id="idn"
              required
              class="form-control custom-input"
              placeholder="Enter your ID Number"
              [(ngModel)]="idn"
              [disabled]="!accepted_popia"
            />
          </div>
        </div>

        <div class="form-group mb-2">
          <label for="purpose">Purpose of Visit:</label>
          <div class="input-group">
            <span class="input-group-text"
              ><i class="fas fa-clipboard-list"></i
            ></span>
            <select
              id="purpose"
              required
              class="form-control custom-input"
              [(ngModel)]="purpose"
              (change)="onPurposeChange()"
              [disabled]="!accepted_popia"
            >
              <option value="">Select Purpose</option>
              <option value="Scheduled Meeting">Scheduled Meeting</option>
              <option value="Client Visit">Client Visit</option>
              <option value="Vendor or Supplier Visit">
                Vendor or Supplier Visit
              </option>
              <option value="Training or Workshop">Training or Workshop</option>
              <option value="Deliveries or Collections">
                Deliveries or Collections
              </option>
              <option value="Service Rendering">Service Rendering</option>
              <option value="Job Interview">Job Interview</option>
              <option value="Other">Other: (please specify)</option>
            </select>
          </div>
        </div>

        <div *ngIf="isOtherReasonVisible" class="input-group mb-2">
          <span class="input-group-text"
            ><i class="fas fa-ellipsis-h"></i
          ></span>
          <input
            type="text"
            [(ngModel)]="otherReason"
            placeholder="Please specify other reason"
            class="form-control custom-input"
          />
        </div>

        <div class="form-group mb-2">
          <label for="organization">Organization:</label>
          <div class="input-group">
            <span class="input-group-text"
              ><i class="fas fa-building"></i
            ></span>
            <input
              type="text"
              id="organization"
              required
              class="form-control custom-input"
              placeholder="Enter your organization"
              [(ngModel)]="organization"
              [disabled]="!accepted_popia"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Right Card -->
    <div class="col-md-6">
      <div class="card p-3 mb-3 h-100">
        <div class="form-group mb-2">
          <label for="selfie">Selfie:</label>
          <div class="input-group">
            <span class="input-group-text"><i class="fas fa-camera"></i></span>
            <ion-button
              [color]="tracking ? 'danger' : 'primary'"
              (click)="startTracking()"
            >
              <ion-label class="ion-padding">{{
                tracking ? "Stop Tracking" : "Start Tracking"
              }}</ion-label>
              <ion-icon [name]="tracking ? 'close' : 'finger-print'"></ion-icon>
            </ion-button>
            <video
              class="user-media"
              id="user-video"
              autoplay
              playsinline
              style="display: none"
            ></video>
            <canvas
              class="user-media"
              id="user-canvas"
              style="display: none"
            ></canvas>
          </div>
        </div>

        <!-- Display the captured selfie -->
        <div *ngIf="selfie" class="mt-2">
          <h5>Captured Selfie:</h5>
          <img
            [src]="selfie"
            alt="Captured Selfie"
            style="max-width: 50%; border: 1px solid #5a5a5a"
          />
        </div>

        <div class="form-group mb-2">
          <label for="signature">Signature:</label>
          <div class="signature-container mb-2">
            <canvas
              id="signatureCanvas"
              width="200"
              height="100"
              style="border: 1px solid #5a5a5a; background-color: azure"
            ></canvas>
          </div>
          <button class="btn btn-secondary" (click)="clearCanvas()">
            Clear
          </button>
        </div>
        <div class="form-group text-center">
          <button
            type="button"
            class="btn btn-primary"
            (click)="onSubmit()"
            [disabled]="!isFormValid()"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
