/* Global Styles */
body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

/* Header Styles */
ion-header {
  background-color: transparent; /* Material 3 Primary Color */
}

ion-toolbar {
  --background: #609cd400;
  color: #111111;
}

ion-title {
  font-weight: 500;
}

/* Modal Styles */
.modal-content {
  border-radius: 16px; /* Rounded corners */
}

.modal-header {
  border-bottom: none;
  background-color: #ffffff;
}

.modal-body {
  padding: 24px;
  color: #333;
}

.modal-footer {
  border-top: none;
}

.btn-close {
  color: #609bd4;
}

.btn-secondary,
.btn-primary {
  border-radius: 8px; /* Rounded corners */
}

.btn-secondary {
  background-color: #e0e0e0;
  color: #333;
}

.btn-primary {
  background-color: #609bd4;
  color: #ffffff;
}

/* Input and Form Styles */
.form-control {
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #dcdcdc;
}

.form-control:focus {
  border-color: #609bd4;
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
  transition: 0.3s;
}

.input-group-text {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 8px 0 0 8px;
}

.input-group {
  border-radius: 8px;
}

/* Select Styles */
.form-select {
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  background-color: #ffffff;
}

.form-select:focus {
  border-color: #609bd4;
}

/* Additional Styles */
/* Ensures the container spans the full height of the viewport minus the header */
.container {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: calc(100vh - 100px); /* Adjust height as needed */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Card styling for the form sections */
.card {
  background-color: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Ensure form groups are spaced appropriately */
.form-group {
  margin-bottom: 1rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}

.text-center {
  text-align: center;
}

.wave {
  position: absolute;
  transform: rotate(90deg);
  left: -31px;
  top: 32px;
  width: 80px;
  fill: #04e4003a;
}

.icon-container {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #04e40048;
  border-radius: 50%;
  margin-left: 8px;
}

.icon {
  width: 17px;
  height: 17px;
  color: #269b24;
}

.message-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}

.message-text,
.sub-text {
  margin: 0;
  cursor: default;
}

.message-text {
  color: #269b24;
  font-size: 17px;
  font-weight: 700;
}

.sub-text {
  font-size: 14px;
  color: #555;
}

.cross-icon {
  width: 18px;
  height: 18px;
  color: #555;
  cursor: pointer;
}
